@import './scrollbar.scss';
@import './custom.scss';
@import 'bulma/bulma';

// CSS Reset
html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

// Progress bar animation
.progress::-webkit-progress-value {
  transition: width 0.5s ease;
}
